<div class="wholeScores">
  <h1 id="highscore">🧁Highscore</h1>

  {{#if rankOfUser}}
    <div id="rankFrame">
      <h1 id="showRank">Your Rank is #
        <span id="rankNum">
          {{rankOfUser}}
        </span>
      </h1>
    </div>{{/if}}
  {{#each highscore}}
    <div class="score">
      <div class="userInfo">
        <h1 id="rank" class="scoreItem">{{math @index "+" 1}}</h1>
        <h2 id="userName" class="scoreItem">{{this.name}}</h2>
        <div class="gap"></div>
        <div class="gameInfo scoreItem">
          <h3>{{this.playTime}}</h3>
          <h3>Guess : {{this.guesses}}</h3>
        </div>

      </div>
      <div class="correctWord">
        <div class="correctWordList">
          <h3 id="word">Word : </h3>
          {{#strFunc this.correctWord}}
            {{this}}
          {{/strFunc}}
        </div>
        <h3 id="wordType">{{this.wordType}}</h3>
      </div>
    </div>
  {{/each}}

</div>